*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
}
/*GENERAL*/

a{
    color: skyblue;
}

body{
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

h1{
    text-align: center;
    color: #e53170;
    margin: 2rem;
    
}

p{
    text-align: center;
}

div{
    display: block;
}
section{
    padding: 100px;
}

h3{
display: block;
}
/*SELECTIONS*/

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.marco {
    background-color: black;
    width: calc(100% / 3 - 20px);
    height: 100px;
    margin: 10px;
    float: left;
    color: white;
    }

.marco img{
    float: left;
    height: 100px;
    margin-right: 20px;
}
h3{
    margin-top: 10px;
}


