*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*TEXT*/
body{
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
section{
    text-align: center;
    margin-right: 3rem;
    margin-left: 3rem;
}

h1{
    text-align: center;
    color: #e53170;
    
}

.description{
    float:left
}



